.student__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 54px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .student__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 51px;
  }
}

@media screen and (max-width: 600px) {
  .student__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
}