.search {
  margin: 70px 70px 80px;
  max-width: calc(100% - 70px * 2);
  width: 100%;
  display:flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  position: relative;
  transition: all 1s ease;
}

.search::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  bottom: -69px;
  transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
  .search {
    margin: 80px 30px 120px;
    max-width: calc(100% - 30px * 2);
  }

  .search::after{
    bottom: -109px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    flex-direction: column;
    margin: 80px 10px 120px;
    max-width: calc(100% - 10px * 2);
  }
}