.footer {
  background-color: #fff;
  padding: 79px 70px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(100% - 70px * 2);
  align-items: flex-start;
}

@media screen and (max-width:1024px) {
  .footer {
    padding: 79px 30px 0;
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width:450px) {
  .footer {
    padding: 79px 10px 0;
    width: calc(100% - 10px * 2);
  }
}