.movies-card-list__search-error {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.208;
  font-style: normal;
  text-align: center;
  color: rgba(238, 94, 94, 0.932);
  align-self: center;
}

@media screen and (max-width: 600px) {
  .movies-card-list__search-error {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
}