@media screen and (max-width:1024px) {
  .intro__logo {
    margin-bottom: 48px;
  }
}

@media screen and (max-width:450px) {
  .intro__logo {
    width: 210px;
    height: 206px;
    margin-bottom: 44px;
  }
}