.movies-card-list__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  width: 100%;
  gap: 37px 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .movies-card-list__list {
    gap: 30px 24px;
  }
}