.not-found__error {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: all 1s ease;
}

@media screen and (max-width: 600px) {
  .not-found__error {
    font-size: 12px;
    line-height: 15px;
  }
}